
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProcessControlLabel" data-translate="holleyImsApp.processControl.home.createOrEditLabel">Create or edit a Process Control</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.processControl.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.processControl.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="holleyImsApp.processControl.serialNumber" for="field_serialNumber">Serial Number</label>
            <input type="text" class="form-control" name="serialNumber" id="field_serialNumber"
                    ng-model="vm.processControl.serialNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="holleyImsApp.processControl.hutID" for="field_hutID">Hut ID</label>
            <input type="text" class="form-control" name="hutID" id="field_hutID"
                    ng-model="vm.processControl.hutID"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="holleyImsApp.processControl.orderID" for="field_orderID">Order ID</label>
            <input type="text" class="form-control" name="orderID" id="field_orderID"
                    ng-model="vm.processControl.orderID"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="holleyImsApp.processControl.stationID" for="field_stationID">Station ID</label>
            <input type="text" class="form-control" name="stationID" id="field_stationID"
                    ng-model="vm.processControl.stationID"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="holleyImsApp.processControl.result" for="field_result">Result</label>
            <input type="text" class="form-control" name="result" id="field_result"
                    ng-model="vm.processControl.result"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="holleyImsApp.processControl.mountGuardTime" for="field_mountGuardTime">Mount Guard Time</label>
                <div class="input-group">
                    <input id="field_mountGuardTime" type="text" class="form-control" name="mountGuardTime" datetime-picker="{{dateformat}}" ng-model="vm.processControl.mountGuardTime" is-open="vm.datePickerOpenStatus.mountGuardTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('mountGuardTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
